<!DOCTYPE html>
<html lang="en">
<head>
  
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>Organizer Login Page | Employee Schedule Application</title>
  
  <!--  Styles  -->
  <link rel="stylesheet" href="../styles/orgLogin.processed.css">
</head>
<body>
  <h1>Organizer Login Page</h1>
  <p>Looking for the user login page? Please go <a href="../">here</a></p>
  <form>
    <label for="email">Email:</label>
    <input id="email" required>
    <label for="email">Password:</label>
    <input id="password" type="password" required>
    <input type="submit">
  </form>
  <p>Don't have an account? Sign up <a href="orgSignUp">here</a></p>
  <!-- Scripts -->
  <script src="../scripts/orgLogin.js"></script>
</body>
</html>