<!DOCTYPE html>
<html lang="en">
<head>
  
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>Organizer Sign Up Page | Employee Schedule Application</title>
  
  <!--  Styles  -->
  <link rel="stylesheet" href="../styles/signUp.processed.css">
</head>
<body>
  <h1>Organizer Sign Up Page</h1>
  <form action="orgOpenTime.html">
    <label for="name">Full Name: </label>
    <input id="name" required>
	<label for="orgName">Name of Company or Organization: </label>
    <input id="orgName" required>
    <label for="email">Email:</label>
    <input id="email" required>
    <label for="email">Password:</label>
    <input id="password" type="password" required>
    <input type="submit">
  </form>
  <p>Already have an account? Please go to the login page <a href="orgLogin">here</a></p>
  <!-- Scripts -->
  <script src="../scripts/signUp.js"></script>
</body>
</html>