<!DOCTYPE html>
<html lang="en">
<head>
  
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>Availability Page| Employee Schedule Application</title>
  
  <!--  Styles  -->
  <!--<link rel="stylesheet" href="../styles/openTime.processed.css">-->
</head>
<body>
  <h1>Weekly Availability Page</h1>
  <form action="home" method="POST">
  <table>
    <tr>
      <th>Day of Week</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    <tr>
      <td><p>Start time: </p></td>
      <td><input type="time" id="mondayStart" name="monS" required></td>
      <td><input type="time" id="tuesdayStart" name="tueS" required></td>
      <td><input type="time" id="wednesdayStart" name="wedS" required></td>
      <td><input type="time" id="thursdayStart" name="thuS" required></td>
      <td><input type="time" id="fridayStart" name="friS" required></td>
      <td><input type="time" id="saturdayStart" name="satS" required></td>
      <td><input type="time" id="sundayStart" name="sunS" required></td>
    </tr>
    <tr>
      <td><p>End time: </p></td>
      <td><input type="time" id="mondayEnd" name="monE" required></td>
      <td><input type="time" id="tuesdayEnd" name="tueE" required></td>
      <td><input type="time" id="wednesdayEnd" name="wedE" required></td>
      <td><input type="time" id="thursdayEnd" name="thuE" required></td>
      <td><input type="time" id="fridayEnd" name="friE" required></td>
      <td><input type="time" id="saturdayEnd" name="satE" required></td>
      <td><input type="time" id="sundayEnd" name="sunE" required></td>
  </table>
  <input type="submit">
  </form>
  
</body>
</html>