<!DOCTYPE html>
<html lang="en">
<head>
  
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>Sign Up Page | Employee Schedule Application</title>
  
  <!--  Styles  -->
  <link rel="stylesheet" href="../styles/signUp.processed.css">
  
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--jQuery-->
  
  <!-- Firebase App -->
  <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase.js"></script>
  
  <!-- Firebase products -->
  <script defer src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
</head>
<body>
  <h1>User Sign Up Page</h1>
  <form action="availability", method="POST">
    <label for="name">Full Name: </label>
    <input id="name" name="name" required>
    <label for="email">Email:</label>
    <input id="email" name="email" required>
    <label for="email">Password:</label>
    <input id="password" type="password" required>
	<input type="submit" id="post" hidden>
  </form>
  <button id="submit">Submit</button>
  <p>Already have an account? Please go to the login page <a href="/">here</a></p>
  
  <!--<script defer src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>-->
  
  <script src="scripts/signUp"></script>
  
  <script defer src="scripts/init-fire"></script><!--initializing firebase-->
  
  
</body>
</html>